@using ControleDeContatos.Enums
@model UsuarioModel
@{
    ViewData["Title"] = "Editar usuario";
}

<div class="container mt-4">
    <h2 class="mb-4 text-primary">✏️ Editar Usuário</h2>

    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <form asp-controller="Usuario" asp-action="Editar" method="post">
                <input type="hidden" asp-for="Id" />

                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o Nome do usuário">
                    @Html.ValidationMessageFor(x => x.Nome, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" asp-for="Email" class="form-control" placeholder="Digite o E-mail do usuário">
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    <label for="login" class="form-label">Login</label>
                    <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do usuário">
                    @Html.ValidationMessageFor(x => x.Login, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    <label for="perfil" class="form-label">Perfil</label>
                    <select asp-for="Perfil" class="form-control">
                        <option value="">Selecione</option>
                        <option value="@PerfilEnum.Admin">Administrador</option>
                        <option value="@PerfilEnum.Padrao">Padrão</option>
                    </select>
                    @Html.ValidationMessageFor(x => x.Perfil, "", new { @class = "text-danger" })
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Salvar Alterações</button>
                    <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>




